<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.farmpick.beta"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>FarmPick Beta</name>

  <description>
      Shopping App
  </description>
	
  <preference name="android-minSdkVersion" value="17" />
  <preference name="loadUrlTimeoutValue" value="60000" />

  <author href="https://vaayuja.com" email="info@vaayuja.com">
      Vaayuja
  </author>
	
  <icon src="icon.png" />
	
    <gap:splash src="splash.png" />
    
    <content src="http://www.farmpick.co.in" />
    <access origin="http://www.farmpick.co.in" subdomains="true" />

</widget>
